* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

ul {
   list-style: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}

/* Medium */
@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}

/* Large */
@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}

body {
   background-image: radial-gradient(circle at 85% 1%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 96%, transparent 96%, transparent 100%), radial-gradient(circle at 14% 15%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 1%, transparent 1%, transparent 100%), radial-gradient(circle at 60% 90%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 20%, transparent 20%, transparent 100%), radial-gradient(circle at 79% 7%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 78%, transparent 78%, transparent 100%), radial-gradient(circle at 55% 65%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 52%, transparent 52%, transparent 100%), linear-gradient(135deg, rgb(37, 56, 222), rgb(96, 189, 244));
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
}

h1 {
   text-align: center;
   padding: 50px 0;
   color: white;
   font-size: 50px;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 60%;
}

@media (max-width:767px) {
   .container {
      width: 100%;
   }
}

.input-container {
   width: 100%;
   height: 55px;
   position: relative;
   margin-bottom: 50px;
}

.input-container::after {
   position: absolute;
   content: '';
   width: 30%;
   height: 10px;
   background: #120B8F;
   bottom: -40px;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 4px;
}

.input-field {
   width: 100%;
   height: 100%;
   padding: 0 40px 0 20px;
   border-radius: 5px;
   font-size: 18px;
   font-weight: bold;
   outline: none;
   border: 1px solid black;
}

.btn {
   position: absolute;
   font-size: 14px;
   width: 20%;
   height: 80%;
   width: 15%;
   font-weight: bold;
   background-color: transparent;
   border-radius: 5px;
   cursor: pointer;
   outline: none;
   border: none;
   right: 7px;
   top: 50%;
   transform: translateY(-50%);
}

.btn:hover {
   background-color: blanchedalmond;
}

.d-f {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   margin-top: 15px;
   font-size: 18px;
   font-weight: bold;
   background-color: transparent;
}

.d-f>div {
   cursor: pointer;
}

.all-btn {
   width: 200px;
   margin: 10px 0;
}

.main-li {
   padding: 10px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   position: relative;
   border: 2px solid #777;
   border-radius: 5px;
}

.layer {
   position: relative;
}

.layer::after {
   border-radius: 5px;
   position: absolute;
   width: 100%;
   height: 100%;
   content: '';
   background-color: rgba(0, 0, 1100, 0.3);
   inset: 0;
}

li span button {
   outline: none;
   border: none;
   background-color: transparent;
   cursor: pointer;
   padding: 5px 10px;
}

.red {
   color: red;
   position: relative;
   z-index: 10;
}

.blue {
   color: blue;
}

.line {
   text-decoration: line-through;
}